# Virtual environments
.venv/
venv/
env/

# Environment files
.env
.env.*
.env*.local

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Credentials & Tokens
credentials/
tokens/
*.json
!GrowCline-Assessment-Frontend/package.json
!GrowCline-Assessment-Frontend/package-lock.json
!GrowCline-Assessment-Frontend/tsconfig.json
!GrowCline-Assessment-Frontend/components.json
